
    <!-- <section class="hero-wrap" style="background-image: url(../../../assets/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
	      <div class="container">
	        <div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
	          <div class="col-md-8 text-center">
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Model</span></p>
	            <h1 class="mb-5 bread">Model</hs1>
	          </div>
	        </div>
	      </div>
      </section> -->
      <section class="hero-wrap" style="background-image: url(../../assets/images/Playa-munecos-04.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
	      <div class="container">
	        <div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
	          <div class="col-md-8 text-center">
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Inicio</a></span> <span>Portfolio</span></p>
	            <h1 class="mb-5 bread">Portfolio</h1>
	          </div>
	        </div>
	      </div>
      </section>
    <section class="ftco-section-2 mb-5 pb-5">
	    	<div class="container-fluid">
	    		<div class="row d-flex no-gutters">
	    			<div class="col-md-6 d-flex align-items-center heading-section bg-light">
	    				<div class="col-md-9">
								<div class="p-5">
			    				<h2 class="mb-4">Portfolio</h2>
		              <p>Aquí podras visualizar los distintos trabajos que he realizado para distintos tipos de eventos, empresas y marcas </p>
	              </div>
              </div>
	    			</div>
	    			<div class="col-md-3 model-entry">
		    			<div class="model-img" style="background-image: url(../../assets/images/boda-anllela-04.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Boda de anllela</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Boda de anllela</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-md-3 model-entry">
		    			<div class="model-img" style="background-image: url(../../assets/images/cordoba-plaza-01.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Parque 21 de Mayo,Córdoba Ver</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Parque 21 de Mayo,Córdoba Ver</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry">
		    			<div class="model-img" style="background-image: url(../../assets/images/danza-03.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Danza</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry">
		    			<div class="model-img" style="background-image: url(../../assets/images/musicos-08.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Musicos</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry">
		    			<div class="model-img" style="background-image: url(../../assets/images/palacio-de-gobierno-puebla-light-trails.jpg);">
		    			<!-- 	<div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Palacio de gobierno puebla</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry">
		    			<div class="model-img" style="background-image: url(../../assets/images/DSC_7627.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Café</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry">
		    			<div class="model-img" style="background-image: url(../../assets/images/carrera-del-color-01.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Carrera del color</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry">
		    			<div class="model-img" style="background-image: url(../../assets/images/comida-02.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Comida</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry">
		    			<div class="model-img" style="background-image: url(../../assets/images/reflejo-03.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Reflejo</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry">
		    			<div class="model-img" style="background-image: url(../../assets/images/catedral-puebla-vertigo.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Catedral puebla </a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    		</div>
	    		<div class="row no-gutters mt-5">
	          <div class="col text-center">
	            <div class="block-27">
	              <ul>
	                <li><a href="#">&lt;</a></li>
	                <li class="active"><span>1</span></li>
	                <li><a href="#">2</a></li>
	                <li><a href="#">3</a></li>
	                <li><a href="#">4</a></li>
	                <li><a href="#">5</a></li>
	                <li><a href="#">&gt;</a></li>
	              </ul>
	            </div>
	          </div>
	        </div>
	    	</div>
	    </section>
