<app-nav-main></app-nav-main>
<app-home-slider></app-home-slider>
<section class="ftco-section-2">
	      <div class="container-fluid">
	        <div class="section-2-blocks-wrapper d-flex row no-gutters">
	          <div class="img col-md-6 ftco-animate" style="background-image: url('../../../assets/images/memo-medina-bio-photo.jpg');">
	          </div>
	          <div class="text col-md-6 ftco-animate">
	            <div class="text-inner align-self-start">
	              
	              <h3 class="heading">MEMO MEDINA FOTOGRAFÍA</h3>
	              <p class="text-justify">Fotógrafo mexicano nacido en 1986. Ha visitado ciudades de su país desde 2010 con la
					exhibición de su serie Reflejo Nocturno, a su vez ha participado en muestras colectivas
					de fotografía y artes, tanto nacionales como internacionales de las que destacan Somos
					Soy en la cual participaron artistas de 43 países, Mithmakers al Mestizo y Artistas
					Arriesgados, así como la portada de la revista Sinestesia.<br><br>
					También ha organizado exhibiciones de artistas internacionales como John Sevigny y
					Teresa Parker, además de brindar pláticas y tener participaciones con casas editoriales en
					México y Argentina. Actualmente edita el libro Ghosts de John Sevigny.
					También ha colaborado en distintos proyectos audiovisuales con distinguidas empresas fuera y dentro de la región como lo son: Cafinco, Volkswagen, Finca Kassandra, Chocolate Ideal, Isquisa, Ecomssa, entre otras.
					</p>
	             <!--  <ul class="my-4">
	              	<li><span class="ion-ios-checkmark-circle mr-2"></span> Even the all-powerful Pointing</li>
	              	<li><span class="ion-ios-checkmark-circle mr-2"></span> Behind the word mountains</li>
	              	<li><span class="ion-ios-checkmark-circle mr-2"></span> Separated they live in Bookmarksgrove</li>
	              </ul>

	              <div class="row">
	              	<div class="col-md-7 ftco-animate">
	              		<div class="img-2 d-flex justify-content-center align-items-center" style="background-image: url('../../../assets/images/bg_1.jpg');">
					            <a href="https://vimeo.com/45830194" class="button popup-vimeo"><span class="ion-ios-play"></span></a>
				            </div>
				          </div>
				          <div class="col-md-4 d-md-flex align-items-center">
				          	<h3 class="watchvideo-heading"><a href="#"><span class="ion-ios-play"></span> Watch our video promo</a></h3>
				          </div>
	              </div> -->
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>

	    <section class="ftco-section-2">
	    	<div class="container-fluid">
	    		<div class="row d-flex no-gutters">
	    			<div class="col-md-6 d-flex align-items-center heading-section ftco-animate bg-light">
	    				<div class="col-md-9">
								<div class="p-5">
			    				<h2 class="mb-4">Portfolio</h2>
		              <p>Aquí podras visualizar los distintos trabajos que he realizado para distintos tipos de eventos, empresas y marcas </p>
	              </div>
              </div>
	    			</div>
	    			<div class="col-md-3 model-entry ftco-animate">
		    			<div class="model-img" style="background-image: url(../../../assets/images/boda-anllela-04.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Boda de anllela</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Boda de anllela</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-md-3 model-entry ftco-animate">
		    			<div class="model-img" style="background-image: url(../../../assets/images/cordoba-plaza-01.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Parque 21 de Mayo,Córdoba Ver</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Parque 21 de Mayo,Córdoba Ver</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry ftco-animate">
		    			<div class="model-img" style="background-image: url(../../../assets/images/danza-03.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Danza</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry ftco-animate">
		    			<div class="model-img" style="background-image: url(../../../assets/images/musicos-08.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Musicos</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry ftco-animate">
		    			<div class="model-img" style="background-image: url(../../../assets/images/palacio-de-gobierno-puebla-light-trails.jpg);">
		    			<!-- 	<div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Palacio de gobierno puebla</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry ftco-animate">
		    			<div class="model-img" style="background-image: url(../../../assets/images/DSC_7627.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Café</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry ftco-animate">
		    			<div class="model-img" style="background-image: url(../../../assets/images/carrera-del-color-01.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Carrera del color</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry ftco-animate">
		    			<div class="model-img" style="background-image: url(../../../assets/images/comida-02.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Comida</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 model-entry ftco-animate">
		    			<div class="model-img" style="background-image: url(../../../assets/images/reflejo-03.jpg);">
		    				<!-- <div class="name">
		    					<h3><a href="model-single.html">Coleen Husaff</a></h3>
		    				</div> -->
		    				<div class="text">
		    					<h3><a href="model-single.html">Rreflejo</a></h3>
		    					<!-- <div class="d-flex models-info">
		    						<div class="pr-md-3">
	                		<p>Height</p>
	                		<span>185</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Bust</p>
	                		<span>79</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Waist</p>
	                		<span>40</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Hips</p>
	                		<span>87</span>
	                	</div>
	                	<div class="pr-md-3">
	                		<p>Shoe</p>
	                		<span>40</span>
	                	</div>
		    					</div> -->
		    				</div>
		    			</div>
	    			</div>
	    			<div class="col-md-3 d-flex justify-content-center align-items-center bg-light ftco-animate">
		    			<div class="btn-view  p-5">
		    				<p><a routerLink="/portfolio">Ver más</a></p>
		    			</div>
	    			</div>
	    		</div>
	    	</div>
	    </section>

	    <section class="ftco-section testimony-section img" style="background-image: url(../../../assets/images/comida-02.jpg);">
	    	<div class="overlay"></div>
	      <div class="container">
	      	<div class="row justify-content-center">
	      		<div class="col-md-7 mb-5 text-center heading-section ftco-animate">
	            <h2 class="mb-4">Clients Says</h2>
	            <p>Far far away, behind the word mountains, far from the countries Vokalia </p>
	          </div>
	      	</div>
	        <div class="row d-md-flex justify-content-center">
	        	<div class="col-md-7 ftco-animate">
	            <div class="carousel-testimony owl-carousel">
	              <div class="item">
	                <div class="testimony-wrap text-center">
	                  <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_1.jpg)">
	                    <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
	                  </div>
	                  <div class="text">
	                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
	                    <p class="name">Mike Lewis</p>
	                    <span class="position">Architect</span>
	                  </div>
	                </div>
	              </div>
	              <div class="item">
	                <div class="testimony-wrap text-center">
	                  <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_2.jpg)">
	                    <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
	                  </div>
	                  <div class="text">
	                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
	                    <p class="name">Dennis Green</p>
	                    <span class="position">Architect</span>
	                  </div>
	                </div>
	              </div>
	              <div class="item">
	                <div class="testimony-wrap text-center">
	                  <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_3.jpg)">
	                    <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
	                  </div>
	                  <div class="text">
	                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
	                    <p class="name">Dennis Green</p>
	                    <span class="position">Architect</span>
	                  </div>
	                </div>
	              </div>
	              <div class="item">
	                <div class="testimony-wrap text-center">
	                  <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_3.jpg)">
	                    <span class="quote d-flex align-items-center justify-content-center">
	                      <i class="icon-quote-left"></i>
	                    </span>
	                  </div>
	                  <div class="text">
	                    <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
	                    <p class="name">Dennis Green</p>
	                    <span class="position">Customer</span>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>

	    <section class="ftco-section-2">
	      <div class="container-fluid">
	        <div class="section-2-blocks-wrapper d-flex row no-gutters">
	          <div class="img col-md-6 ftco-animate" style="background-image: url('../../../assets/images/voleibol-07.jpg');">
	          </div>
	          <div class="text col-md-6 ftco-animate">
	            <div class="text-inner align-self-start">
	              
	              <h3 class="heading">Mis servicios</h3>
	              <div class="services d-flex ftco-animate">
	              	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-quality"></span></div>
	              	<div class="info ml-4">
	              		<h3>Fashion Shows</h3>
	              		<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
	              	</div>
	              </div>
	              <div class="services d-flex ftco-animate">
	              	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-megaphone"></span></div>
	              	<div class="info ml-4">
	              		<h3>Corporate Events</h3>
	              		<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
	              	</div>
	              </div>
	              <div class="services d-flex ftco-animate">
	              	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-shopping-bag"></span></div>
	              	<div class="info ml-4">
	              		<h3>Commercial Photo Shots</h3>
	              		<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
	              	</div>
	              </div>
	              <div class="services d-flex ftco-animate">
	              	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-photo-camera"></span></div>
	              	<div class="info ml-4">
	              		<h3>Exhibitions/Trade Shows Shows</h3>
	              		<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
	              	</div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>

	    <section class="ftco-section">
	      <div class="container">
	        <div class="row d-flex">
	        	<div class="col-md-3 mb-5 heading-section ftco-animate">
	            <h2 class="mb-4">Blog</h2>
	            <p class="mb-5">Post recientes que te pueden interesar </p>
	            <p class="btn-view"><a href="#">Ver más</a></p>
	          </div>
	          <div class="col-md-3 d-flex ftco-animate">
	          	<div class="blog-entry align-self-stretch">
	              <a href="blog-single.html" class="block-20" style="background-image: url('../../../assets/images/musicos-09.jpg');">
	              </a>
	              <div class="text pt-4 d-block">
	              	<div class="meta mb-3">
	                  <div><a href="#">August 12, 2018</a></div>
	                  <div><a href="#">Admin</a></div>
	                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
	                </div>
	                <h3 class="heading mt-3"><a href="#">Último post</a></h3>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-3 d-flex ftco-animate">
	          	<div class="blog-entry align-self-stretch">
	              <a href="blog-single.html" class="block-20" style="background-image: url('../../../assets/images/cafe-espresso-y-granos.jpg');">
	              </a>
	              <div class="text pt-4 d-block">
	              	<div class="meta mb-3">
	                  <div><a href="#">August 12, 2018</a></div>
	                  <div><a href="#">Admin</a></div>
	                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
	                </div>
	                <h3 class="heading mt-3"><a href="#">Último post</a></h3>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-3 d-flex ftco-animate">
	          	<div class="blog-entry align-self-stretch">
	              <a href="blog-single.html" class="block-20" style="background-image: url('../../../assets/images/carrera-del-color-01.jpg');">
	              </a>
	              <div class="text pt-4 d-block">
	              	<div class="meta mb-3">
	                  <div><a href="#">August 12, 2018</a></div>
	                  <div><a href="#">Admin</a></div>
	                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
	                </div>
	                <h3 class="heading mt-3"><a href="#">Último post</a></h3>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
			</section>
			<app-footer></app-footer>
