<section class="container-fluid mt-2" id="editorcomponent-{{e_idgeneric}}">
    <article class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Editor</h5>
            <div class="row">
                <div class="col-md-12">
                    <editor  [(ngModel)]="e_contenidoTiny" id="contenidoTiny-{{e_idgeneric}}" apiKey="10exaiaymntvt0olvhl7325duyeak4kkor6rlkk5obrozr5l" [init]="tinyMceSettings"></editor>
                    {{e_contenidoTiny|json}}
                </div>
              </div>
          </div>
        </div>
      </div>
    </article>
  </section>
  