<mat-toolbar>
  <a class="btn btn-dark" routerLink="/admin">Regresar</a>
</mat-toolbar>
<section class="container-fluid">
  <article class="row">
    <section class="col-md-12">
      <form>
        <mat-form-field class="col-md-8">
          <input matInput type="text" placeholder="Titulo">
        </mat-form-field>
      
        <mat-form-field class="col-md-4">
          <input matInput type="url" placeholder="Url" value="">
        </mat-form-field>
        
      </form>
    </section>
  </article>
</section>