<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Id Post -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> Numero </th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element.id"></td>
    </ng-container>

    <!-- Nombre Post -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element.content.rendered"></td>
    </ng-container>
    <!-- Link Post -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> link </th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element.link"></td>
    </ng-container>    
    <!-- Status Post -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element.status"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>