 <section class="home-slider owl-carousel">

        <div class="slider-item" style="background-image: url('../../assets/images/pirotecnia-cordoba-01.jpg');">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text justify-content-start align-items-center" data-scrollax-parent="true">
              <div class="col-md-8 col-lg-7 col-sm-12 ftco-animate text mb-4" data-scrollax=" properties: { translateY: '70%' }">
              	<!-- <span class="position">Top Model's</span> -->
                <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Paisajes Urbanos</h1>
                <!-- <div class="d-md-flex models-info mt-5 mb-5">
                	<div>
                		<p>Height</p>
                		<span>185</span>
                	</div>
                	<div>
                		<p>Bust</p>
                		<span>79</span>
                	</div>
                	<div>
                		<p>Waist</p>
                		<span>40</span>
                	</div>
                	<div>
                		<p>Hips</p>
                		<span>87</span>
                	</div>
                	<div>
                		<p>Shoe</p>
                		<span>40</span>
                	</div>
                	<div>
                		<p>Eyes</p>
                		<span>Blue</span>
                	</div>
                	<div>
                		<p>Hair</p>
                		<span>Brunet</span>
                	</div>
                </div> -->
                <p><a href="#" class="btn btn-white px-4 py-3">Saber más</a> <a href="#" class="btn btn-white btn-outline-primary px-4 py-3">Ver galería</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="slider-item" style="background-image: url('../../assets/images/musicos-07.jpg');">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text justify-content-start align-items-center" data-scrollax-parent="true">
              <div class="col-md-8 col-lg-7 col-sm-12 ftco-animate text mb-4" data-scrollax=" properties: { translateY: '70%' }">
              	<!-- <span class="position">Super Model's</span> -->
                <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Artes Escénicas</h1>
                <!-- <div class="d-md-flex models-info mt-5 mb-5">
                	<div>
                		<p>Height</p>
                		<span>185</span>
                	</div>
                	<div>
                		<p>Bust</p>
                		<span>79</span>
                	</div>
                	<div>
                		<p>Waist</p>
                		<span>40</span>
                	</div>
                	<div>
                		<p>Hips</p>
                		<span>87</span>
                	</div>
                	<div>
                		<p>Shoe</p>
                		<span>40</span>
                	</div>
                	<div>
                		<p>Eyes</p>
                		<span>Blue</span>
                	</div>
                	<div>
                		<p>Hair</p>
                		<span>Brunet</span>
                	</div>
                </div> -->
                <p><a href="#" class="btn btn-white px-4 py-3">Saber más</a> <a href="#" class="btn btn-white btn-outline-primary px-4 py-3">Ver galería</a></p>
              </div>
            </div>
          </div>
        </div>

				<div class="slider-item" style="background-image: url('../../assets/images/boda-jessy-01.jpg');">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text justify-content-start align-items-center" data-scrollax-parent="true">
              <div class="col-md-8 col-lg-7 col-sm-12 ftco-animate text mb-4" data-scrollax=" properties: { translateY: '70%' }">
              	<!-- <span class="position">Photo Model's</span> -->
                <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Bodas</h1>
                <!-- <div class="d-md-flex models-info mt-5 mb-5">
                	<div>
                		<p>Height</p>
                		<span>185</span>
                	</div>
                	<div>
                		<p>Bust</p>
                		<span>79</span>
                	</div>
                	<div>
                		<p>Waist</p>
                		<span>40</span>
                	</div>
                	<div>
                		<p>Hips</p>
                		<span>87</span>
                	</div>
                	<div>
                		<p>Shoe</p>
                		<span>40</span>
                	</div>
                	<div>
                		<p>Eyes</p>
                		<span>Blue</span>
                	</div>
                	<div>
                		<p>Hair</p>
                		<span>Brunet</span>
                	</div>
                </div> -->
                <p><a href="#" class="btn btn-white px-4 py-3">Saber más</a> <a href="#" class="btn btn-white btn-outline-primary px-4 py-3">Ver galería</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="slider-item" style="background-image: url('../../assets/images/cafe-espresso-y-granos.jpg');">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text justify-content-start align-items-center" data-scrollax-parent="true">
              <div class="col-md-8 col-lg-7 col-sm-12 ftco-animate text mb-4" data-scrollax=" properties: { translateY: '70%' }">
              	<!-- <span class="position">Photo Model's</span> -->
                <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Comercial</h1>
                <!-- <div class="d-md-flex models-info mt-5 mb-5">
                	<div>
                		<p>Height</p>
                		<span>185</span>
                	</div>
                	<div>
                		<p>Bust</p>
                		<span>79</span>
                	</div>
                	<div>
                		<p>Waist</p>
                		<span>40</span>
                	</div>
                	<div>
                		<p>Hips</p>
                		<span>87</span>
                	</div>
                	<div>
                		<p>Shoe</p>
                		<span>40</span>
                	</div>
                	<div>
                		<p>Eyes</p>
                		<span>Blue</span>
                	</div>
                	<div>
                		<p>Hair</p>
                		<span>Brunet</span>
                	</div>
                </div> -->
                <p><a href="#" class="btn btn-white px-4 py-3">Saber más</a> <a href="#" class="btn btn-white btn-outline-primary px-4 py-3">Ver galería</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END slider -->