  <section class="hero-wrap" style="background-image: url(../../assets/images/Playa-munecos-04.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
	      <div class="container">
	        <div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
	          <div class="col-md-8 text-center">
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Inicio</a></span> <span>Contacto</span></p>
	            <h1 class="mb-5 bread">Contacto</h1>
	          </div>
	        </div>
	      </div>
      </section>
      <!-- END slider -->
 <section class="ftco-section contact-section">
        <div class="container mt-5">
          <div class="row block-9">
						<div class="col-md-4 order-last contact-info">
							<div class="row">
								<div class="col-md-12 mb-4">
		              <h2 class="h4">Información de contacto</h2>
		            </div>
		            <div class="col-md-12 mb-3">
		              <p><span>Dirección:</span> Lorem dljalajdp pjsadjp</p>
		            </div>
		            <div class="col-md-12 mb-3">
		              <p><span>Teléfono:</span> <a href="tel://1234567920" class="text-dark">+ 1235 2355 98</a></p>
		            </div>
		            <div class="col-md-12 mb-3">
		              <p><span>Email:</span> <a href="mailto:info@yoursite.com" class="text-dark">info@yoursite.com</a></p>
		            </div>
		            <div class="col-md-12 mb-3">
		              <p><span>Sitio Web:</span> <a href="#" class="text-dark">yoursite.com</a></p>
		            </div>
							</div>
						</div>
						<div class="col-md-1"></div>
            <div class="col-md-6 order-first">
              <form action="#">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Asunto">
                </div>
                <div class="form-group">
                  <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mensaje"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Enviar mensaje" class="btn btn-dark py-3 px-5">
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <div id="map"></div>